<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="service.app.AppMapper">

<select id="selectAppVOByBundleIdAndOstype" parameterType="hashmap" resultType="java.util.LinkedHashMap">
	SELECT 
	
	    a.app_seq as appSeq,
	    a.reg_gb as regGb,
	    a.app_name as appName,
	    a.app_contents_amt as appContentsAmt,
	    a.app_contents_gb as appContentsGb,
	    a.file_name as fileName,
	    a.ostype as ostype,
	    a.ver_num as verNum,
	    b.bundle_name as storeBundleId,
	    a.provision_gb as provisionGb,
	    a.description_text as descriptionText,
	    a.icon_org_file as iconOrgFile,
	    a.icon_save_file as iconSaveFile,
	    a.template_name as templateName,
	    a.template_seq as templateSeq,
	    a.chg_text as chgText,
	    a.use_gb as useGb,
	    DATE_FORMAT(a.use_avail_dt, '%Y-%m-%d %k:%i:%s') as useAvailDt,
	    DATE_FORMAT(a.use_disable_dt, '%Y-%m-%d %k:%i:%s') as useDisableDt,
	    a.complet_gb as completGb,
	    a.distr_gb as distrGb,
	    a.limit_gb as limitGb,
	    DATE_FORMAT(a.limit_dt, '%Y-%m-%d %k:%i:%s') as limitDt,
	    a.mem_down_gb as memDownGb,
	    a.mem_down_cnt as memDownCnt,
	    a.mem_down_amt as memDownAmt,
	    DATE_FORMAT(a.mem_down_start_dt, '%Y-%m-%d %k:%i:%s') as memDownStartDt,
	    DATE_FORMAT(a.mem_down_end_dt, '%Y-%m-%d %k:%i:%s') as memDownEndDt,
	    a.coupon_gb as couponGb,
	    a.coupon_num as couponNum,
	    a.nonmem_down_gb as nonmemDownGb,
	    a.nonmem_down_cnt as nonmemDownCnt,
	    a.nonmem_down_amt as nonmemDownAmt,
	    DATE_FORMAT(a.nonmem_down_star_dt, '%Y-%m-%d %k:%i:%s') as nonmemDownStarDt,
	    DATE_FORMAT(a.nonmem_down_end_dt, '%Y-%m-%d %k:%i:%s') as nonmemDownEndDt,
	    a.install_gb as installGb,
	    a.version_code as versionCode,
	    a.reg_user_seq as regUserSeq,
	    a.reg_user_id as regUserId,
	    a.reg_user_gb as regUserGb,
	    DATE_FORMAT(a.reg_dt, '%Y-%m-%d %k:%i:%s') as regDt,
	    a.chg_user_seq as chgUserSeq,
	    a.chg_user_id as chgUserId,
	    a.chg_user_gb as chgUserGb,
	    DATE_FORMAT(a.chg_dt, '%Y-%m-%d %k:%i:%s') as chgDt,
	    a.app_size as appSize,
	    a.app_resultCode as app_resultCode,
	    a.use_user_gb as useUserGb,
	    a.login_time as loginTime,
	    a.logout_time as logoutTime,
	    a.login_gb as loginGb
	FROM
	    tb_app AS a
	        LEFT OUTER JOIN
	    tb_bundle AS b ON a.app_seq = b.app_seq
	WHERE
	    b.bundle_name = #{store_bundle_id}
	    <if test="ostype != 4">
	        AND (b.os_type = '1' OR b.os_type = '2' OR b.os_type = '3') 
	    </if>
	    <if test="ostype == 4">
	        AND b.os_type = '4'
	    </if>
	ORDER BY appSeq ASC
	LIMIT 1;
</select>


<select id="selectIfAnyIdenticalCouponNumForAll" parameterType="hashmap" resultType="hashmap">
	SELECT 
    COUNT(*) AS IdenticalCouponCOUNT
FROM
    (SELECT 
        coupon_num
    FROM
        tb_app
    WHERE
        (coupon_num > ''
            AND coupon_num IS NOT NULL
            AND coupon_num = #{coupon_num}) UNION ALL SELECT 
        coupon_num
    FROM
        tb_contents
    WHERE
        (coupon_num > ''
            AND coupon_num IS NOT NULL
            AND coupon_num = #{coupon_num}) UNION ALL SELECT 
        coupon_num
    FROM
        tb_inapp
    WHERE
        (coupon_num > ''
            AND coupon_num IS NOT NULL
            AND coupon_num = #{coupon_num})) x;
		
</select>

<select id="getRowIsCompletedByBundleId" parameterType="hashmap" resultType="java.util.LinkedHashMap">
	SELECT 
	
	    a.app_seq as appSeq,
	    a.reg_gb as regGb,
	    a.app_name as appName,
	    a.app_contents_amt as appContentsAmt,
	    a.app_contents_gb as appContentsGb,
	    a.file_name as fileName,
	    a.ostype as ostype,
	    a.ver_num as verNum,
	    b.bundle_name as storeBundleId,
	    a.provision_gb as provisionGb,
	    a.icon_org_file as iconOrgFile,
	    a.description_text as descriptionText,
	    a.icon_save_file as iconSaveFile,
	    a.template_name as templateName,
	    a.template_seq as templateSeq,
	    a.chg_text as chgText,
	    a.use_gb as useGb,
	    DATE_FORMAT(a.use_avail_dt, '%Y-%m-%d %k:%i:%s') as useAvailDt,
	    DATE_FORMAT(a.use_disable_dt, '%Y-%m-%d %k:%i:%s') as useDisableDt,
	    a.complet_gb as completGb,
	    a.distr_gb as distrGb,
	    a.limit_gb as limitGb,
	    DATE_FORMAT(a.limit_dt, '%Y-%m-%d %k:%i:%s') as limitDt,
	    a.mem_down_gb as memDownGb,
	    a.mem_down_cnt as memDownCnt,
	    a.mem_down_amt as memDownAmt,
	    DATE_FORMAT(a.mem_down_start_dt, '%Y-%m-%d %k:%i:%s') as memDownStartDt,
	    DATE_FORMAT(a.mem_down_end_dt, '%Y-%m-%d %k:%i:%s') as memDownEndDt,
	    a.coupon_gb as couponGb,
	    a.coupon_num as couponNum,
	    a.nonmem_down_gb as nonmemDownGb,
	    a.nonmem_down_cnt as nonmemDownCnt,
	    a.nonmem_down_amt as nonmemDownAmt,
	    DATE_FORMAT(a.nonmem_down_star_dt, '%Y-%m-%d %k:%i:%s') as nonmemDownStarDt,
	    DATE_FORMAT(a.nonmem_down_end_dt, '%Y-%m-%d %k:%i:%s') as nonmemDownEndDt,
	    a.install_gb as installGb,
	    a.version_code as versionCode,
	    a.reg_user_seq as regUserSeq,
	    a.reg_user_id as regUserId,
	    a.reg_user_gb as regUserGb,
	    DATE_FORMAT(a.reg_dt, '%Y-%m-%d %k:%i:%s') as regDt,
	    a.chg_user_seq as chgUserSeq,
	    a.chg_user_id as chgUserId,
	    a.chg_user_gb as chgUserGb,
	    DATE_FORMAT(a.chg_dt, '%Y-%m-%d %k:%i:%s') as chgDt,
	    a.app_size as appSize,
	    a.app_resultCode as app_resultCode,
	    a.use_user_gb as useUserGb
	FROM
	    tb_app AS a
	        LEFT OUTER JOIN
	    tb_bundle AS b ON a.app_seq = b.app_seq
	WHERE
	     b.bundle_name = #{store_bundle_id}
	     AND a.complet_gb = '1'
	     AND a.use_gb = '1'
	     <if test="OSTYPE != 4">
	     	AND (a.ostype = '1' OR a.ostype = '2' OR a.ostype = '3')
	     </if>
	     <if test="OSTYPE == 4">
	     	AND a.ostype = '4'
	     </if>
	ORDER BY useGb DESC
	LIMIT 1;
</select>


</mapper>