<!doctype html><html>
<head>
<style>
 body {
    margin-left: 0px;
    margin-top: 0px;
        overflow-x:hidden;
    overflow-y:hidden;
  }
</style>
<meta charset="UTF-8" />
<title>170511_171833_00</title>
</head>
 
<script src="./script/jquery.min.js"></script>
<script src="./script/jquery-ui.min.js"></script>
<script src="./script/jquery.transit.js"></script>
<script type="text/javascript" language="javascript" src="./script/cb.js"></script>
<script type="text/javascript" language="javascript" src="./script/indexedDB.js"></script>
<script type="text/javascript" src="./script/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="./script/main.js"></script>
<script>
var pageNo = 8;
    var scale = ($(window).width() / 720.000000);
    window.onresize = function() { scale = ($(window).width() / 720.000000); $("body").css("transform-origin",'0 0'); $("body").css("transform",'scale('+scale+')'); }

    $(document).ready(function(){
        $("body").css("transform",'scale('+scale+')');
        $("body").css("transform-origin",'0 0');
    });

    function changeToggleState(cvs){
        if(cvs.state == true) {
            cvs.state = false;
        }else{
            cvs.state = true;
        }
    }
    var sound1 = new Audio();
    var sound2 = new Audio();


</script>
<body id="mybody" oncontextmenu="return false" onselectstart="return false" ondragstart="return false" >
<section><div id="div_main" style="z-index:1; position:relative; width:720px; height:1280px; overflow:hidden;background-color:#fff; " >
<div id="cvs_1601" style="z-index:2; opacity:1.00; position:absolute; left:0px; top:0px; width:720px; height:1280px; overflow-x:hidden;  ">
<div style="z-index:3; position:absolute; left:0px; top:0px; width:720px; height:5775px; "><canvas id="cvs_1582" style="z-index:4; position:absolute; left:0px; top:0px; " width="720px" height="5774px" >></canvas>
</div>
</div>
<canvas id="cvs_1632" style="z-index:5; position:absolute; left:630px; top:30px; opacity:1" width="55px" height="46px" onmousedown="distributeAction(cvs_1632, 'down', 'N', [])" onmouseup="distributeAction(cvs_1632, 'up', 'N', [[{actType:12, actSubType: 'Next', goto:'2-page.html', startTime:0, delay:0, duration:0 }]])"></canvas>
</div>

<script type="text/javascript">
  var element_1582;
  var ctx_1582;
  var id_1586 = new Image();
  var id_1585 = new Image();
  var id_1584 = new Image();
  var id_1583 = new Image();
  var id_1582 = new Image();

  function init_1582() {
    id_1586.src = "8p_0001.png";
    id_1586.onload = drawAll_1582;
    id_1585.src = "8p_0002.png";
    id_1585.onload = drawAll_1582;
    id_1584.src = "8p_0003.png";
    id_1584.onload = drawAll_1582;
    id_1583.src = "8p_0004.png";
    id_1583.onload = drawAll_1582;
    id_1582.src = "8p_0005.png";
    id_1582.onload = drawAll_1582;
    element_1582 = document.getElementById("cvs_1582");
    ctx_1582 = element_1582.getContext("2d");
    element_1582.style.pointerEvents = "none";

  }

  function drawAll_1582() {

    ctx_1582.clearRect(0, 0, 720, 5774);
    ctx_1582.save();
    if (!(typeof id_1586.naturalWidth !== "undefined" && id_1586.naturalWidth === 0))
       drawImage(ctx_1582, id_1586, 0, 4640, 720, 1134, 0);
    ctx_1582.restore();
    ctx_1582.save();
    if (!(typeof id_1585.naturalWidth !== "undefined" && id_1585.naturalWidth === 0))
       drawImage(ctx_1582, id_1585, 0, 3377, 720, 1266, 0);
    ctx_1582.restore();
    ctx_1582.save();
    if (!(typeof id_1584.naturalWidth !== "undefined" && id_1584.naturalWidth === 0))
       drawImage(ctx_1582, id_1584, 0, 2115, 720, 1266, 0);
    ctx_1582.restore();
    ctx_1582.save();
    if (!(typeof id_1583.naturalWidth !== "undefined" && id_1583.naturalWidth === 0))
       drawImage(ctx_1582, id_1583, 0, 1197, 720, 927, 0);
    ctx_1582.restore();
    ctx_1582.save();
    if (!(typeof id_1582.naturalWidth !== "undefined" && id_1582.naturalWidth === 0))
       drawImage(ctx_1582, id_1582, 0, 0, 720, 1159, 0);
    ctx_1582.restore();

  }
  init_1582();
</script>
<script type="text/javascript">
  var element_1632;
  var ctx_1632;
  var id_1632 = new Image();

  function init_1632() {
    $(cvs_1632).css({'-ms-transform': 'rotate(0deg)'});
    $(cvs_1632).css({'-webkit-transform': 'rotate(0deg)'});
    $(cvs_1632).css({'-moz-transform': 'rotate(0deg)'});
    $(cvs_1632).css({'transform': 'rotate(0deg)'});
    id_1632.src = "3p_0001.png";
    id_1632.onload = drawAll_1632;
    element_1632 = document.getElementById("cvs_1632");
    jQuery.data(cvs_1632, "touch", "y");
    jQuery.data(cvs_1632, "tag", []);
    ctx_1632 = element_1632.getContext("2d");
  }

  function drawAll_1632() {
    ctx_1632.clearRect(0, 0, 55, 46);
    ctx_1632.save();
    if (!(typeof id_1632.naturalWidth !== "undefined" && id_1632.naturalWidth === 0))
       drawImage(ctx_1632, id_1632, 0, 0, 55, 46, 0);
    ctx_1632.restore();
  }
 
  init_1632();
</script>

<script type="text/javascript">
  var ConditionalTable = new Object();
 
</script>

<script type="text/javascript">
  var ActionLibraryTable = new Object();
 
</script>

<script type="text/javascript">
  var TargetTable = new Object();
jQuery.data(TargetTable, "스크롤박스", cvs_1601);
jQuery.data(TargetTable, "menu", cvs_1632);
 
</script>

<script type="text/javascript">
 
</script>

 <script>
   function pbonload8() {
  }
    window.onload=pbonload8();
</script>
</section></body></html>