<!doctype html><html>
<head>
<style>
 body {
    margin-left: 0px;
    margin-top: 0px;
        overflow-x:hidden;
    overflow-y:hidden;
  }
</style>
<meta charset="UTF-8" />
<title>170511_150647_00</title>
</head>
 
<script src="./script/jquery.min.js"></script>
<script src="./script/jquery-ui.min.js"></script>
<script src="./script/jquery.transit.js"></script>
<script type="text/javascript" language="javascript" src="./script/cb.js"></script>
<script type="text/javascript" language="javascript" src="./script/indexedDB.js"></script>
<script type="text/javascript" src="./script/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="./script/main.js"></script>
<script>
var pageNo = 12;
    var scale = ($(window).width() / 1075.000000);
    window.onresize = function() { scale = ($(window).width() / 1075.000000); $("body").css("transform-origin",'0 0'); $("body").css("transform",'scale('+scale+')'); }

    $(document).ready(function(){
        $("body").css("transform",'scale('+scale+')');
        $("body").css("transform-origin",'0 0');
    });

    function changeToggleState(cvs){
        if(cvs.state == true) {
            cvs.state = false;
        }else{
            cvs.state = true;
        }
    }
    var sound1 = new Audio();
    var sound2 = new Audio();


</script>
<body id="mybody" oncontextmenu="return false" onselectstart="return false" ondragstart="return false" >
<section><div id="div_main" style="z-index:1; position:relative; width:1075px; height:1520px; overflow:hidden;background-color:#fff; " >
<img src="12p_0001.png" style="z-index:2; pointer-events:none; position:absolute; left:0px; top:0px; opacity:1 " width="1074px" height="1520px" >
<canvas id="cvs_0026" style="z-index:3; position:absolute; left:814px; top:167px; opacity:1" width="55px" height="74px" onmousedown="distributeAction(cvs_0026, 'down', 'N', [[{actType:1, actSubType:'Show', aniTiming:0, target:[cvs_0027], callfunc:'drawAll_0027', startTime:0, delay:0, duration:0 }]])"></canvas>
<video id="cvs_0027" controls autoplay preload='none' style="z-index:4; position:absolute; left:21px; top:20px; background-color:black;" width="1040px" height="953px" >
	<source id="mp4" src="12p_0003.mp4" type="video/mp4">
</video>
</div>

<script type="text/javascript">
  var element_0026;
  var ctx_0026;
  var id_0026 = new Image();

  function init_0026() {
    $(cvs_0026).css({'-ms-transform': 'rotate(0deg)'});
    $(cvs_0026).css({'-webkit-transform': 'rotate(0deg)'});
    $(cvs_0026).css({'-moz-transform': 'rotate(0deg)'});
    $(cvs_0026).css({'transform': 'rotate(0deg)'});
    id_0026.src = "12p_0002.png";
    id_0026.onload = drawAll_0026;
    element_0026 = document.getElementById("cvs_0026");
    jQuery.data(cvs_0026, "touch", "y");
    jQuery.data(cvs_0026, "tag", []);
    ctx_0026 = element_0026.getContext("2d");
  }

  function drawAll_0026() {
    ctx_0026.clearRect(0, 0, 55, 74);
    ctx_0026.save();
    if (!(typeof id_0026.naturalWidth !== "undefined" && id_0026.naturalWidth === 0))
       drawImage(ctx_0026, id_0026, 0, 0, 55, 74, 0);
    ctx_0026.restore();
  }
 
  init_0026();
</script>

<script type="text/javascript">
               document.getElementById("cvs_0027").hidden=true;

    jQuery.data(cvs_0027, "touch", "y");
    jQuery.data(cvs_0027, "tag", []);
 
</script>

<script type="text/javascript">
  var ConditionalTable = new Object();
 
</script>

<script type="text/javascript">
  var ActionLibraryTable = new Object();
 
</script>

<script type="text/javascript">
  var TargetTable = new Object();
jQuery.data(TargetTable, "icon_3", cvs_0026);
jQuery.data(TargetTable, "Movie", cvs_0027);
 
</script>

<script type="text/javascript">
 
</script>

 <script>
   function pbonload12() {
  }
    window.onload=pbonload12();
</script>
</section></body></html>