<!doctype html><html>
<head>
<style>
 body {
    margin-left: 0px;
    margin-top: 0px;
        overflow-x:hidden;
    overflow-y:hidden;
  }
</style>
<meta charset="UTF-8" />
<title>170515_160656_00</title>
</head>
 
<script src="./script/jquery.min.js"></script>
<script src="./script/jquery-ui.min.js"></script>
<script src="./script/jquery.transit.js"></script>
<script type="text/javascript" language="javascript" src="./script/cb.js"></script>
<script type="text/javascript" language="javascript" src="./script/indexedDB.js"></script>
<script type="text/javascript" src="./script/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="./script/main.js"></script>
<script>
var pageNo = 11;
    var scale = ($(window).width() / 720.000000);
    window.onresize = function() { scale = ($(window).width() / 720.000000); $("body").css("transform-origin",'0 0'); $("body").css("transform",'scale('+scale+')'); }

    $(document).ready(function(){
        $("body").css("transform",'scale('+scale+')');
        $("body").css("transform-origin",'0 0');
    });

    function changeToggleState(cvs){
        if(cvs.state == true) {
            cvs.state = false;
        }else{
            cvs.state = true;
        }
    }
    var sound1 = new Audio();
    var sound2 = new Audio();


</script>
<body id="mybody" oncontextmenu="return false" onselectstart="return false" ondragstart="return false" >
<section><div id="div_main" style="z-index:1; position:relative; width:720px; height:1280px; overflow:hidden;background-color:#fff; " >
<div id="cvs_1604" style="z-index:2; opacity:1.00; position:absolute; left:0px; top:0px; width:720px; height:1280px; overflow-x:hidden;  ">
<div style="z-index:3; position:absolute; left:0px; top:0px; width:720px; height:5225px; "><canvas id="cvs_1608" style="z-index:4; position:absolute; left:0px; top:0px; " width="720px" height="5225px" >></canvas>
</div>
</div>
<canvas id="cvs_1635" style="z-index:5; position:absolute; left:630px; top:30px; opacity:1" width="55px" height="46px" onmousedown="distributeAction(cvs_1635, 'down', 'N', [])" onmouseup="distributeAction(cvs_1635, 'up', 'N', [[{actType:12, actSubType: 'Next', goto:'2-page.html', startTime:0, delay:0, duration:0 }]])"></canvas>
</div>

<script type="text/javascript">
  var element_1608;
  var ctx_1608;
  var id_1610 = new Image();
  var id_1609 = new Image();
  var id_1608 = new Image();

  function init_1608() {
    id_1610.src = "11p_0001.png";
    id_1610.onload = drawAll_1608;
    id_1609.src = "11p_0002.png";
    id_1609.onload = drawAll_1608;
    id_1608.src = "11p_0003.png";
    id_1608.onload = drawAll_1608;
    element_1608 = document.getElementById("cvs_1608");
    ctx_1608 = element_1608.getContext("2d");
    element_1608.style.pointerEvents = "none";

  }

  function drawAll_1608() {

    ctx_1608.clearRect(0, 0, 720, 5225);
    ctx_1608.save();
    if (!(typeof id_1610.naturalWidth !== "undefined" && id_1610.naturalWidth === 0))
       drawImage(ctx_1608, id_1610, 0, 3627, 720, 1598, 0);
    ctx_1608.restore();
    ctx_1608.save();
    if (!(typeof id_1609.naturalWidth !== "undefined" && id_1609.naturalWidth === 0))
       drawImage(ctx_1608, id_1609, 0, 1759, 720, 1868, 0);
    ctx_1608.restore();
    ctx_1608.save();
    if (!(typeof id_1608.naturalWidth !== "undefined" && id_1608.naturalWidth === 0))
       drawImage(ctx_1608, id_1608, 0, 0, 720, 1766, 0);
    ctx_1608.restore();

  }
  init_1608();
</script>
<script type="text/javascript">
  var element_1635;
  var ctx_1635;
  var id_1635 = new Image();

  function init_1635() {
    $(cvs_1635).css({'-ms-transform': 'rotate(0deg)'});
    $(cvs_1635).css({'-webkit-transform': 'rotate(0deg)'});
    $(cvs_1635).css({'-moz-transform': 'rotate(0deg)'});
    $(cvs_1635).css({'transform': 'rotate(0deg)'});
    id_1635.src = "3p_0001.png";
    id_1635.onload = drawAll_1635;
    element_1635 = document.getElementById("cvs_1635");
    jQuery.data(cvs_1635, "touch", "y");
    jQuery.data(cvs_1635, "tag", []);
    ctx_1635 = element_1635.getContext("2d");
  }

  function drawAll_1635() {
    ctx_1635.clearRect(0, 0, 55, 46);
    ctx_1635.save();
    if (!(typeof id_1635.naturalWidth !== "undefined" && id_1635.naturalWidth === 0))
       drawImage(ctx_1635, id_1635, 0, 0, 55, 46, 0);
    ctx_1635.restore();
  }
 
  init_1635();
</script>

<script type="text/javascript">
  var ConditionalTable = new Object();
 
</script>

<script type="text/javascript">
  var ActionLibraryTable = new Object();
 
</script>

<script type="text/javascript">
  var TargetTable = new Object();
jQuery.data(TargetTable, "스크롤박스", cvs_1604);
jQuery.data(TargetTable, "menu", cvs_1635);
 
</script>

<script type="text/javascript">
 
</script>

 <script>
   function pbonload11() {
  }
    window.onload=pbonload11();
</script>
</section></body></html>