<!doctype html><html>
<head>
<style>
 body {
    margin-left: 0px;
    margin-top: 0px;
        overflow-x:hidden;
    overflow-y:hidden;
  }
</style>
<meta charset="UTF-8" />
<title>170511_165601_00</title>
</head>
 
<script src="./script/jquery.min.js"></script>
<script src="./script/jquery-ui.min.js"></script>
<script src="./script/jquery.transit.js"></script>
<script type="text/javascript" language="javascript" src="./script/cb.js"></script>
<script type="text/javascript" language="javascript" src="./script/indexedDB.js"></script>
<script type="text/javascript" src="./script/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="./script/main.js"></script>
<script>
var pageNo = 18;
    var scale = ($(window).height() / 720.000000);
    window.onresize = function() { scale = ($(window).height() / 720.000000); $("body").css("transform-origin",'0 0'); $("body").css("transform",'scale('+scale+')'); }

    $(document).ready(function(){
        $("body").css("transform",'scale('+scale+')');
        $("body").css("transform-origin",'0 0');
    });

    function changeToggleState(cvs){
        if(cvs.state == true) {
            cvs.state = false;
        }else{
            cvs.state = true;
        }
    }
    var sound1 = new Audio();
    var sound2 = new Audio();


</script>
<body id="mybody" oncontextmenu="return false" onselectstart="return false" ondragstart="return false" >
<section><div id="div_main" style="z-index:1; position:relative; width:1280px; height:720px; overflow:hidden;background-color:#fff; " >
<img src="18p_0001.png" style="z-index:2; pointer-events:none; position:absolute; left:0px; top:0px; opacity:1 " width="1280px" height="720px" >
<canvas id="cvs_1257" style="z-index:3; position:absolute; left:76px; top:-45px; opacity:1" width="54px" height="32px"></canvas>
</div>

<script type="text/javascript">
  var element_1257;
  var ctx_1257;
  var id_1257 = new Image();

  function init_1257() {
    $(cvs_1257).css({'-ms-transform': 'rotate(0deg)'});
    $(cvs_1257).css({'-webkit-transform': 'rotate(0deg)'});
    $(cvs_1257).css({'-moz-transform': 'rotate(0deg)'});
    $(cvs_1257).css({'transform': 'rotate(0deg)'});
    id_1257.src = "text_18_1257.png";
    id_1257.onload = drawAll_1257;
    element_1257 = document.getElementById("cvs_1257");
    jQuery.data(cvs_1257, "touch", "n");
    jQuery.data(cvs_1257, "tag", []);
    ctx_1257 = element_1257.getContext("2d");
    element_1257.style.pointerEvents = "none";
  }

  function drawAll_1257() {
    ctx_1257.clearRect(0, 0, 54, 32);
    ctx_1257.save();
    if (!(typeof id_1257.naturalWidth !== "undefined" && id_1257.naturalWidth === 0))
       drawImage(ctx_1257, id_1257, 0, 0, 54, 32, 0);
    ctx_1257.restore();
  }
 
  init_1257();
</script>

<script type="text/javascript">
  var ConditionalTable = new Object();
 
</script>

<script type="text/javascript">
  var ActionLibraryTable = new Object();
 
</script>

<script type="text/javascript">
  var TargetTable = new Object();
jQuery.data(TargetTable, "텍스트-10", cvs_1257);
 
</script>

<script type="text/javascript">
 
</script>

 <script>
  function pbonload18() {
     var key = [];
     var dataString = [];
 	distributeAction(null, 'up', 'N', []);
  }
    window.onload=pbonload18();
</script>
</section></body></html>